<nav class="navmenu">
  <ul>
    <li><NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink></li>
    <li><NavLink class="nav-link" href="/especies">Espécies</NavLink></li>
    <li><NavLink class="nav-link" href="/canteiros">Canteiros</NavLink></li>
    <li><NavLink class="nav-link" href="/responsaveis">Responsáveis</NavLink></li>
    <li><NavLink class="nav-link" href="/lotes">Lotes</NavLink></li>
    <li><NavLink class="nav-link" href="/consultas">Consultas</NavLink></li>
  </ul>
</nav>
